*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: url(car.png) no-repeat;
	background-size :cover ;



}
#parking{

background: lightblue;
color: red;
text-align: center;
text-shadow: 5px 2px 2px black;

}